@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Great+Vibes&family=Protest+Riot&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  overflow-x: hidden;
}

:root {
  --pink: #ff0066;
  --bg: #000000;
  --shadow: 0 2px rgb(0 0 0 / 0.2);
}

/* ======================================= */
/* zzzzzzzz */
/* ======================================= */
body {
  background-color: #fff5f8;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}

.bg-animate {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: url('img/bg.png');
  background-size: 512px 512px;
  background-repeat: repeat;
  z-index: -1;
  pointer-events: none;
  animation: animateBackground 40s linear infinite;
}

@keyframes animateBackground {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100px, 50px);
  }
  50% {
    transform: translate(-200px, -100px);
  }
  75% {
    transform: translate(-100px, -150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* ======================================= */
/* General */
/* ======================================= */
body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  min-height: 4000px;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2,
.comments h2 {
  color: var(--pink);
  font-family: 'Protest Riot', sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.story,
.gallery,
.rsvp,
.gifts,
.comments,
.cots {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span,
.cots span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p,
.comments p {
  font-size: 1.1rem;
  font-weight: 300;
}

.rsvp,
#comments {
  background-color: #00000090;
}

.rsvp button,
.comments button,
.alamat a {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover,
.alamat a:hover {
  background-color: #fff5f8;
  color: var(--pink);
  border: 1px solid white;
}

.rsvp input,
.rsvp select,
.comments input,
.comments textarea {
  background-color: #fff5f8;
}

/* ======================================= */
/* Hero  */
/* ======================================= */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-prewed.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h4 span {
  color: blue;
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  color: var(--pink);
  text-shadow: var(--shadow);
  margin-bottom: 50px;
}

h1 span {
  color: #fff5f8;
  font-size: 3.5rem;
}

.hero h4 {
  font-size: 1.8rem;
  margin-bottom: 50px;
}

.hero p {
  font-size: 1.6rem;
  text-shadow: var(--shadow);
}

.hero a {
  color: var(--pink);
  background-color: #fff5f8;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--pink);
  color: #ffffff;
}

/* ======================================= */
/* Navbar  */
/* ======================================= */
.navbar span {
  color: var(--pink);
  font-size: 2.5rem;
}

.offcanvas {
  background-color: #fff5f8;
}

.mynavbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: top 0.3s;
  transform: translateY(-100%);
  /* sembunyikan dulu */
}

.mynavbar.show {
  transform: translateY(0);
  /* munculkan */
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: 'Climate Crisis', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

/* ======================================= */
/* Home  */
/* ======================================= */
.home {
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

#cots {
  background-size: cover;
  min-height: 30vh;
  margin-top: 10rem;
}

.home h3,
.cots h3 {
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p,
.cots p {
  font-size: 1.1rem;
  color: #000000;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.home li {
  list-style: none;
}

.home a {
  text-decoration: none;
  color: var(--pink);
}

/* ======================================= */
/* Info  */
/* ======================================= */
.info {
  background-color: #00000090;
  color: #ffffff;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 30px;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: #555 !important;
  color: #fff5f8 !important;
  border: 0.8px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.info a {
  align-items: center;
}

/* ======================================= */
/* Story  */
/* ======================================= */
.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: '';
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff5f8;
}

.timeline li .timeline-panel::before {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff5f8;
  border-right: 0 solid #fff5f8;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

/* ======================================= */
/* Gallery  */
/* ======================================= */
.gallery {
  background-color: transparent;
}

/* ======================================= */
/* Rsvp  */
/* ======================================= */
.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

ul.list-group {
  border: none;
}

ul.list-group li {
  border: none;
}

.rsvp input select {
  font-size: 12px;
}

/* ======================================= */
/* gifts  */
/* ======================================= */
.gifts {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

#gifts .container {
  max-width: 960px;
}

#gifts h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

#gifts span {
  font-weight: 500;
  font-size: 0.85rem;
  color: #555;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-group-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.img-thumbnail {
  border: none;
  background: none;
  filter: brightness(1) contrast(250%);
  margin-bottom: 10px;
}

.btn-outline-secondary.btn-sm {
  padding: 6px 14px;
  font-size: 14px;
  border: none;
}

.comments p {
  color: #ffffff;
}

#commentForm input,
#commentForm textarea {
  width: 100%;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 50px;
}

#commentForm textarea {
  height: 120px;
}

#commentForm button:hover,
.btn-outline-primary:hover {
  background-color: #fff5f8;
  color: var(--pink);
}

#commentsList li {
  background-color: #fff5f8;
  padding: 1.5px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}

#commentCount,
h3 {
  font-weight: bold;
  color: var(--pink);
}

#commentsList li p {
  font-size: 1rem;
  color: #000000;
}

.comments h2,
.comments p {
  text-align: center;
}

strong.username {
  font-weight: bold;
}

/* ======================================= */
/* Footer  */
/* ======================================= */
footer {
  padding: 3rem;
  background-color: var(--bg);
  color: white;
}

footer a {
  color: var(--pink);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

/* ======================================= */
/* Audio icon  */
/* ======================================= */
.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: var(--pink);
  opacity: 0.8;
  background-color: transparent;
  animation: rotating 2s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  z-index: 9999;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ======================================= */
/* !media query */
/* ======================================= */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .offcanvas.offcanvas-end {
    width: 75% !important;
    max-width: unset;
  }

  .offcanvas.offcanvas-end {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .stcky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

  #commentForm button {
    width: 100%;
  }

  #commentsList li {
    max-width: 95%;
  }

  .rsvp button {
    width: 100%;
  }

  input,
  label,
  textarea {
    font-size: 16px !important;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 55%;
  }

  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }

  .rsvp button {
    width: 100%;
  }
}
